body {
    margin: 0;
    padding: 0;
}

.row {
    margin: 10px;
}

.container {
    background-color: rgb(238, 237, 237);
    margin: 15px;
    padding: 5px;
}

p {
    font-size: large;
}

.oculto {
    display: none;
}
